<p>quotes-details works!</p>
<div class="authr">
  <h4>
    by {{quote.author}}
    <div class="vote">
      <div class="">
        <div class="value">
          Votes: {{ votes }}
        </div>
      </div>
    </div>
  </h4>
</div>


<div class="voter">
  <a href (click)="likeVote()">
    <button class="arrow down icon btn-primary">Upvote</button>
  </a>
  <a href (click)=" dislikeVote()">
    <button class="arrow down icon btn-warning">Downvote</button>
  </a>
</div>
<button (click)='quoteDelete(true)' class="btn btn-outline-danger">Delete</button>